<%- include('partials/header.ejs') %>

    <%- include('partials/nav.ejs') %>
        <form action="/combineQuotes" method="POST">
            <div class="default-container form-group" id="calculatorWrapper">
                <h2 class="default-header">Combine Quotes</h2>
                <h6 class="default-subheader">Please use the dropdowns below to select the quotes you wish to combine</h6>

                <div class="row combine-dropdowns-wrapper">
                    <div class="col">
                        <select class="combine-dropdown" name="firstQuote" id="firstQuoteDropdwon">
                            <% combineQuotes.forEach(quote=> { %>

                                <option value="<%= quote.projectName %>">
                                    <%= quote.projectName %>
                                </option>
                                <% }) %>

                        </select>
                    </div>

                    <div class="col">
                        <select class="combine-dropdown" name="secondQuote" id="secondQuoteDropdwon">
                            <% combineQuotes.forEach(quote=> { %>

                                <option value="<%= quote.projectName %>">
                                    <%= quote.projectName %>
                                </option>
                                <% }) %>

                        </select>
                    </div>

                    

                </div>
                <div class="btn-wrapper" id="combineBtn">
                    <button class="btn btn-primary" id="combineQuotes" type="submit">Combine
                    </button>
                </div>
            </div>
        </form>
        <%- include('partials/footer.ejs') %>